<div class="row">

  <div class="col-xl-12 col-md-12">
    <div class="admin-names">
      <h1>Select line item type</h1>
    </div>
  </div>


  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Insertion order" [className]='"campaign-box"'>
      <form [formGroup]="campaignForm">
        <div class="name-field field-block">
          <label for="">Select an insertion order for the line item</label>
          <input type="text" id="name" formControlName="name"
            placeholder="Select an insertion order for the line item" />
        </div>

        <div class="row">
          <div class="col-md-4 col-xl-3" *ngFor="let card of card">
            <app-card [hidHeader]="true">
              <button (click)="createNewLineItems()">
                <img [src]="card.image" alt="">
                <h6>{{ card.title }}</h6>
                <p>{{ card.text }}</p>
              </button>
            </app-card>
          </div>
        </div>
      </form>
    </app-card>
  </div>

</div>